<div class="row">
  <div class="col-12 text-center pt-5">
    <h1 class="mb-5">DevOps Task<hr></h1>
  <% if user_signed_in? %>
  <p class="lead">Welcome</p>

  
  <%else%>
   <p class="lead">Please login or signup</p>
   <% end %>


  </div>
</div>

